body {
	font-family: 'Raleway';
	font-size: 1.3rem;
	background: pink;
	text-align: center;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}
::selection {
    background: #b3d4fc;
    text-shadow: none
}

html {
	font-size: 100%;
}

.content {
	text-align: left;
	margin: 0 20px;
}

.icon {
	width: 48px !important;
    height: 48px !important;
}

.main-title {
	text-transform: uppercase;
	font-size: 1.6rem;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

h1 {
	margin: 0 auto;
	padding-top: 15px;
}

/* Will see if I'll make it responsive 
@media screen and (min-device-width: 721px){
	.main-title {
		width: 720px;
		text-align: center;
		margin: 0 auto;
	}

	h1 h3 {
		font-size: 1.6rem;
	}
}


@media screen and (max-device-width: 480px) and (orientation: portrait){

}*/

hr.gradient_one {
    border: 0;
    height: 1px;
    background: #63C;
    background-image: -webkit-linear-gradient(left, #080410, #63C, #080410);
    background-image: -moz-linear-gradient(left, #080410, #63C, #080410);
    background-image: -ms-linear-gradient(left, #080410, #63C, #080410);
    background-image: -o-linear-gradient(left, #080410, #63C, #080410);
}